@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
}

* {
  font-family: "DM Sans";
  padding: 0;
  margin: 0;
}

/* Custom Scrollbar Styles */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 3px;
  transition: all 0.3s ease;
}

/* Show scrollbar on hover over the scrollable area */
*:hover::-webkit-scrollbar-thumb {
  background: rgba(17, 26, 37, 0.3);
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(17, 26, 37, 0.5);
}

/* For Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}

/* Show scrollbar on hover for Firefox */
*:hover {
  scrollbar-color: rgba(17, 26, 37, 0.3) transparent;
}

.fade-in {
  opacity: 1;
  transition: opacity 1.5s ease-in-out;
}

.opacity-0 {
  opacity: 0;
}

.backdrop-blur-sm {
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
}

.page-enter {
  opacity: 0;
  transform: translateY(20px);
}

.page-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 300ms, transform 300ms;
}

.page-exit {
  opacity: 1;
  transform: translateY(0);
}

.page-exit-active {
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 300ms, transform 300ms;
}